@model IEnumerable<SchedulingSystemClassLibrary.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Room", "New", null, new { @class = "btn btn-primary" })
</p>
    <table id="rooms" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th class="col-sm-2">
                   Name
                </th>
                <th class="col-sm-2">
                   Building
                </th>
                <th class="col-sm-2">
                    Size
                </th>
                <th class="col-sm-2">
                    Is Lab Room
                </th>
                <th class="col-sm-2">
                  Is Class Room
                
                <th class="col-sm-2"></th>
            </tr>
        <thead>
        <tbody>
            @foreach (var room in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => room.Building.BuildingTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => room.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => room.IsLabRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => room.IsLectureRoom)
                </td>
                <td>
                    <a href="/Rooms/Edit/@room.Id" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a>
                    <button class="btn btn-danger js-delete" data-room-id="@room.Id" data-room-name="@room.Name">
                        <i class="fa fa-trash"></i> Delete
                    </button>

                </td>
            </tr>
            }
        </tbody>
    </table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#rooms').DataTable({
                columnDefs: [
                    { "orderable": false, "targets": 3 },
                    { "orderable": false, "targets": 4 },
                    { "orderable": false, "targets": 5 },
                ]
            });

            $('#rooms').on('click', '.js-delete', function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete the Rooms <strong>" +
                button.attr('data-room-name') + "</strong>?", function (result) {
                    if (result) {
                         $.ajax({
                             url: '/api/rooms/' + button.attr('data-room-id'),
                             method: 'DELETE',
                             success: function () {
                                 location.reload(true);
                             }
                         });
                     }
                 });
            });
        });

        
    </script>
}

