@model IEnumerable<SchedulingSystemClassLibrary.Models.Instructor>
@{
    ViewBag.Title = "Instructors";
}


<header>
    <div class="container-fluid">
        <div class="page-header">
            <h3>Instructors</h3>
            <h5>Total: @Model.Count()</h5>
        </div>
    </div>
</header>

<p>
    @Html.ActionLink("Create New Instructor", "New", null, new { @class = "btn btn-primary" })
</p>

<table id="instructors" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Total Course Offerings</th>
            <th>Credit Load</th>
            <th>Department</th>
            <th>Preference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var instructor in Model)
        {
            <tr>
                <td>@instructor.FullName</td>
                <td><a href="/Instructors/CourseOfferings/@instructor.Id">@instructor.CurrentlyAssignedCourses.Count</a></td>
                @{
                    var totalCredit = 0;
                }
                @foreach (var courseOffering in instructor.CurrentlyAssignedCourses)
                {
                    totalCredit += courseOffering.Course.Credit;

                }
                <td>@(totalCredit)</td>
                <td>@instructor.Department.Name</td>
                <td>
                    <a href="/Instructors/Edit/@instructor.Id" class="btn btn-info"><i class="fa fa-edit"></i> Edit</a>
                    <button class="btn btn-danger js-delete" data-instructor-id="@instructor.Id" data-instructor-fullname="@instructor.FirstName @instructor.FatherName @instructor.GrandFatherName">
                    <i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var table = $('#instructors').DataTable();
        });
        
        $('#instructors').on('click', '.js-delete', function () {
            var button = $(this);

            bootbox.confirm("Are you sure you want to delete the Instructor <strong>" + button.attr('data-instructor-fullName') + "</strong>?", function (result) {
                if (result) {
                    $.ajax({
                        url: '/api/instructors/' + button.attr('data-instructor-id'),
                        method: 'DELETE',
                        success: function () {
                            location.reload(true);
                        }
                    });
                }
            });
        });
    </script>
}