@model IEnumerable<SchedulingSystemClassLibrary.Models.Curriculum>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Curriculum", "New")
</p>
<table id="curriculums" class="table table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FieldOfStudy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nomenclature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionClassification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Program)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StayYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaySemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinimumCredit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartmentId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FieldOfStudy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nomenclature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionClassification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Program)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StayYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaySemester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MinimumCredit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
        </td>
        <td>
            <button class="btn btn-link js-delete" data-curriculum-id="@item.Id">
                Delete
            </button>
        </td>
    </tr>
}

</table>

@section scripts    
{
    <script>
        $(document).ready(function () {
            $("#curriculums").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this curriculum?", function (result) {
                    if (result) {
                        $.ajax(
                            {
                                url: "/api/curriculums/" + button.attr("data-curriculum-id"),
                                method: "DELETE",
                                success: function() {
                                    button.parents("tr").remove(); 
                                }
                            }
                        );
                    }
                });
            });
        });
    </script>
}